@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

h1 {
    font-family: 'Square Peg';
    font-size: 4em;
    text-align: center;
}

h2 {
    font-family: 'Square Peg';
    text-align: center;
    font-size: 2em;
}

h6 {
    font-weight: bold;
}

header {
    margin: 50px;
}
body {
    background-color: rgb(20, 98, 101);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    color: white;
}

p {
    font-weight: bold;
    color: white;
}

input {
    font-size: 15px;
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    width: 150px;
    margin: 8px auto;
    font-family: 'Poiret One', sans-serif;
}
button {
    background:rgb(169, 175, 175);
    font-weight: bold;
    margin: 8px auto;
    width: 100px;
}

button:hover {
    transform: translateY(-2px);
    background-color: rgb(54, 195, 210); 
}

.update-trip {
    display: none;
}
.edit-trip {
    width: 100px;
}
.delete-trip {
    width: 100px;
}
#create-account {
    width: 250px;
}
#sign-in-btn {
    width: 250px;
}
#password {
    width: 150px;
}
#exampleModal {
    color: black;
}

#sign-out-button {
    position: absolute;
    top: 0;
    right: 0;
}

#password {
    position: absolute;
    top: 0;
    left: 0;

}
#globe {
    max-width: 50%;
    max-height: 50%;   
}